.people-list-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
  min-width: 400px;
  justify-content: left;
}
.header-secion-list-ppl,
.person-on-list {
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: space-between;
  max-width: 1410px;
}
.header-secion-list-ppl div,
.person-on-list div {
  margin-right: 30px;
  min-width: 60px;
  flex-shrink: 0;
}
.person-on-list .preferences {
  display: flex;
  flex-direction: column;
}
.header-secion-list-ppl .name,
.person-on-list .name {
  padding-right: 135px;
  width: 160px;
  max-width: 350px;
  margin-right: 20px;
}
.number {
  width: 60px;
}
.preferences-head {
  width: 102px;
}
.person-on-list {
  border: 1px solid gray;
  border-radius: 60px;
  margin-bottom: 10px;
  position: relative;
}
.name {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}
.profilowe {
  object-fit: cover;
  object-position: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 15px;
  margin-left: 10px;
}
.details {
  align-items: top;
  display: flex;
  background-color: rgb(52, 165, 127);
  color: white;
  position: absolute;
  top: 60px;
  right: 0;
  min-height: 150px;
  border-radius: 6px;
  z-index: 200;
}
.details-left {
  margin: 10px;
}
.details-right {
  margin: 10px;
}
.change-btn {
  border: none;
  padding: 4px 10px 4px 10px;
  cursor: pointer;
  border-radius: 4px;
}
.change-btn:hover {
  background-color: rgb(69, 161, 131);
  border: 1px solid white;
  color: white;
}

.header-secion-list-ppl {
  background-color: white;
  font-weight: 600;
}
