.grafik-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem;
  margin: 3rem auto;
  overflow-x: auto;
  width: 100vw;
  max-width: 1410px;
}
.week-container {
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(160, 160, 160);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
  row-gap: 10px;
  column-gap: 1px;
  padding: 20px 25px 10px 10px;
}

.week-container .name {
  row-gap: 10px;
  column-gap: 15px;
}

.week-container .day-in-week {
  margin-right: 15px;
  border: 1px solid gray;
  padding: 10px 15px 10px 15px;
  border-radius: 2px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  min-width: 35px;
  width: 150px;
  flex: 1;
}

@media (max-width: 900px) {
  .week-container .day-in-week,
  .shift-container .tooltip,
  .first-shift,
  .second-shift,
  .third-shift,
  .workers-container,
  .workers-container .worker {
    font-size: 9px;
  }
}

@media (max-width: 901px) and (min-width: 1499px) {
  .week-container .day-in-week,
  .shift-container .tooltip,
  .first-shift,
  .second-shift,
  .third-shift,
  .workers-container {
    font-size: 14px;
  }
}

@media (min-width: 1500px) {
  .week-container .day-in-week,
  .shift-container .tooltip,
  .first-shift,
  .second-shift,
  .third-shift,
  .workers-container {
    font-size: 16px;
  }
}

.day-in-week .date-time-day,
.shift-container .tooltip {
  border: 1px solid rgb(185, 185, 185);
  background-color: rgba(150, 150, 150, 0.726);
  color: white;
  position: absolute;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  bottom: -35px;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
}

.day-in-week:hover .date-time-day,
.shift-container:hover .tooltip {
  opacity: 1;
}

.grid-shift-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px 10px 10px;
  background-color: rgb(236, 236, 236);
}

.shift-container {
  background-color: rgb(216, 226, 223);
  min-height: 50px;
  min-width: 150px;
  margin-top: 10px;
  border-radius: 2px;
  border: 2px dotted rgb(212, 212, 212);
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  cursor: pointer;
}

.shift-container .tooltip {
  z-index: 200;
  position: absolute;
}

.off-day,
.first-shift,
.second-shift,
.third-shift {
  flex-direction: row;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 175, 230);
  padding: 2px 4px 2px 4px;
  color: black;
  border-radius: 20px;
  border: 1px solid rgb(26, 0, 75);
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  width: 150px;
  white-space: nowrap;
  height: 32px;
}

.off-day {
  font-weight: 900;
  font-size: 30px;
  background-color: rgb(255, 208, 208);
  color: red;
  border: 1px solid red;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.tooltip {
  font-weight: normal;
  font-size: 14px;
}

.second-shift {
  background-color: rgb(198, 221, 211);
  border: 1px solid rgb(0, 68, 36);
  color: black;
}

.third-shift {
  background-color: rgba(0, 8, 117, 0.829);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

.workers-container {
  background-color: white;
  width: 130px;

  min-height: 50px;
  min-width: 150px;
  margin-top: 10px;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid rgb(212, 212, 212);
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  cursor: pointer;
  color: black;
}

.workers-container:hover {
  box-shadow: var(--shadow-2);
  background-color: rgb(186, 243, 217);
}

.content {
  max-height: 30vw;
  overflow-y: auto;
}
