#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
